body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-items input[type=text] {
    margin: 10px auto;
    padding: 10px;
    display: inline;
    width: 70%;
    box-sizing: border-box;
    text-align: left;
}

.form-container {
    max-width: 1000px;
    margin: 10px auto;
    padding: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
}

.account-items {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-item label {
    flex: 3;
    text-align: left;
    margin-right: 10px;
}

.form-item input[type=text] {
    flex: 10;
    padding: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-sua {
    background-color: #FFC30F;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-xoa {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-sua:hover,
.btn-xoa:hover {
    opacity: 0.8;
}

.btn-them {
    background-color: #096BFF;
    color: #fff;
    border: none;
    padding: 12px 33px;
    margin: 20px 0;
    cursor: pointer;
    display: inline-block;
}

.btn-xuatexcel {
    background-color: #1E6C41;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin: 20px 10px 20px 0;
    cursor: pointer;
    display: inline-block;
}

.btn-them:hover,
.btn-xuatexcel:hover {
    opacity: 0.8;
}

form {
    margin: 20px auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
}

button[type="submit"] {
    background-color: #ccc5c5;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.8;
}